*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{ 
    background: linear-gradient(90deg, white 70%, #66D0FF 40%);
    font-size: 18px;
    font-family: "Abel";
}