*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{ 
    background: linear-gradient(110deg, white 60%, #66D0FF 40%);
    font-size: 18px;
}

.container{
    border: 1px solid black;
}
